

body { background: #f8f9fa;  margin: 0px; padding: 0px}
.list-group-item { transition: background .15s ease; }
.list-group-item .me-2 { transform: translateY(2px); }
.header { background-image: url('.././images/BannerPattern.png'); height: 100px; text-align: center; color: #FFFFFF; font-weight: bolder; font-size: xxx-large; padding-top: 20px}
.GridItemContainer { background-color: aliceblue; border-style: solid; border-width: 2px; border-color: #99d94e; padding: 20px; margin-bottom: 10% }
.GridItemHeader { background-color: #99d94e; border-style: solid; border-width: 2px; border-color: #99d94e; padding: 20px; color: #FFFFFF; font-weight: bolder; font-size: xxx-large; text-align: center}
.TaskContainer { background-color: white; border-style: solid; border-width: 2px; border-color: #54f884; display: flex; flex-direction: column; gap: 20px; padding: 1%; font-size: larger; margin-bottom: 20px }