

body { background: #f8f9fa;  margin: 0px; padding: 0px}
.list-group-item { transition: background .15s ease; }
.list-group-item .me-2 { transform: translateY(2px); }
.header { background-image: url('.././images/BannerPattern.png'); height: 100px; text-align: center; color: #FFFFFF; font-weight: bolder; font-size: xxx-large; padding-top: 20px}
.AddItemContainer { background-color: aliceblue; border-style: solid; border-width: 2px; border-color: #a8ff6c; padding: 20px }
.AddItemHeader { background-color: #a8ff6c; border-style: solid; border-width: 2px; border-color: #a8ff6c; padding: 20px; color: #FFFFFF; font-weight: bolder; font-size: xxx-large; text-align: center}